name: CI

on: [pull_request, push]

jobs:
  build:
    name: Main
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.5.8
          bundler-cache: true

      - name: Run Rake
        run: bundle exec rake
