name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  main-job:
    name: Main
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: [2.6, 2.7, 3.2, 3.3]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Run Rake
        run: bundle exec rake
