name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  main-job:
    name: Main
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.5.8
          rubygems: latest
          bundler-cache: true

      - name: Run Rake
        run: bundle exec rake
